@use 'typography' as *;
@use 'colors' as *;
@use 'reset' as *;
@use 'reusableClasses' as *;

body {
    background-color: $neutral-black;
}

@media (width > 900px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}