@use '../../sass/typography' as *;
@use '../../sass/colors' as *;

.user-card {
    padding: 3.2rem;
    border: 2px solid lime;

    h2 {
        @include text-preset2;

    }

    p {
        @include text-preset5;
    }
}

@media (width > 600px) {
    .user-card {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
}

@media (width > 900px) {
    .user-card {
        grid-column: 1 / 4;
        grid-row: 1 / 1;
    }
}

@media (width > 1200px) {
    .user-card {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
    }
}