@use '../../sass/typography' as *;
@use '../../sass/colors' as *;

.user-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;

    &__info {
        display: flex;
        align-items: center;
        gap: 2.4em;
        padding: 3.2rem;
        background-color: $primary-purple-light;
        border-radius: 15px;
        z-index: 2;
    }

    &__image-box {
        height: 64px;
    }

    &__image {
        height: 100%;
        border: 5px solid #fff;
        border-radius: 50%;
    }

    &__report-text {
        @include text-preset6;
        color: $neutral-purple-light;
    }

    &__report-for {
        @include text-preset4;
        color: #fff;
    }

    &__timeframe-box {
        margin-top: -3.5em;
        padding-block: 6em 2.5em;
        background-color: $neutral-purple-dark;
        border-radius: 15px;
    }

    &__timeframes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

@media (width > 600px) {
    .user-card {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
    }
}

@media (width > 1200px) {
    .user-card {
        grid-column: 1 / 1;
        grid-row: 1 / -1;

        &__info {
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
        }

        &__report-for {
            @include text-preset2;
        }

        &__image-box {
            height: 78px;
        }

        &__timeframe-box {
            margin-top: -3.5em;
            padding-block: 3.5em 0;
        }

        &__timeframes {
            flex-direction: column;
            gap: 2.1em;
            padding: 3.2em;
        }
    }
}