@use '../../sass/typography' as *;
@use '../../sass/colors' as *;

.user-card {
    border-radius: 15px;
    overflow: hidden;

    &__info {
        display: flex;
        align-items: center;
        gap: 2.4em;
        padding: 3.2rem;
        background-color: $primary-purple-light;
        border-radius: 15px;
    }

    &__image-box {
        height: 64px;
    }

    &__image {
        height: 100%;
        border: 5px solid #fff;
        border-radius: 50%;
    }

    &__report-text {
        @include text-preset6;
        color: $neutral-purple-light;
    }

    &__report-for {
        @include text-preset4;
        color: #fff;
    }

    &__timeframe-box {
        border: 2px solid red;
    }

    &__timeframes {
        display: flex;
        flex-direction: row;
    }
}

@media (width > 600px) {
    .user-card {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
    }
}

@media (width > 900px) {
    .user-card {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
    }
}

@media (width > 1200px) {
    .user-card {
        grid-column: 1 / 1;
        grid-row: 1 / -1;
    }
}