@use '../../sass/typography' as *;
@use '../../sass/colors' as *;

.card {
    //position: relative;
    padding: 3.2rem;
    width: 100%;
    min-width: 255px;
    border: 2px solid royalblue;
    border-radius: 15px;

    &__cosmetic {
        border: 2px solid royalblue;
        width: 100%;
        padding: 0;
        //position: absolute;
    }

    &__title-group {
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include text-preset5;
    }

    &__dots {
        width: 18px;
        height: 100%;
    }

    &__time {
        @include text-preset1;
        padding: 2.4rem 0 0.8rem 0;
    }

    &__last-week {
        @include text-preset6;
    }
}